@import '../node_modules/bootstrap/scss/custom_bootstrap';

$blue: #3a92ef;
$orange: #c76d43;
$green: #6bb070;
$red: #ec5252;
$yellow: #d1a926;
$violet: #995ab8;
$white: #e5e5e5;
$black: #21252b;
$black-shade1: #2c313c;
$grey: #656b75;
$pink: #cc6699;

body {
  background-color: $black;
  font-family: 'Fira Mono', monospace;
  font-size: 1.5rem;
  color: $white;
  overscroll-behavior-y: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.color {
  &__violet {
    color: $violet;
  }
  &__yellow {
    color: $yellow;
  }
  &__blue {
    color: $blue;
  }
  &__green {
    color: $green;
  }
  &__red {
    color: $red;
  }
  &__orange {
    color: $orange;
  }
  &__grey {
    color: $grey;
  }
  &__white {
    color: $white;
  }
  &__pink {
    color: $pink;
  }
}

//media queries
@media (min-width: 280px) {
  .container,
  .container-sm {
    max-width: 540px;
    padding: 0 48px 0;
  }
  .navbar {
    padding: 24px 0 8px;
  }
  .headline-content {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
  }
  p,
  .navbar-brand {
    font-size: 1rem;
  }
  .container-about {
    min-height: 1240px;
    height: 100%;
  }
  .order-left {
    order: 1;
  }
  .tumbnail-size {
    width: 100%;
    height: 40vw;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
  .navbar {
    padding: 24px 0 8px;
  }
  .headline-content {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
  }
  .container-about {
    min-height: 1080px;
    height: 100%;
  }
  .order-left {
    order: 0;
  }
  .tumbnail-size {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
  .navbar {
    padding-top: 48px;
  }

  .headline-content {
    height: calc(100vh - 97px);
    display: flex;
    align-items: center;
  }
  p,
  .navbar-brand {
    font-size: 1.5rem;
  }
  .container-about {
    min-height: 100vh;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 980px;
  }
  .navbar {
    padding-top: 48px;
  }

  .headline-content {
    height: calc(100vh - 97px);
    display: flex;
    align-items: center;
  }
  p,
  .navbar-brand {
    font-size: 1.5rem;
  }
  h1,
  .h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1072px;
  }
  .navbar {
    padding-top: 48px;
  }

  .headline-content {
    height: calc(100vh - 97px);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-height: 695px) and (min-height: 695px) {
  .container-about {
    max-height: 280px;
    min-height: 1100px;
    height: 100%;
  }
}
@media screen and (max-height: 653px) and (min-height: 653px) {
  .container-about {
    max-height: 280px;
    min-height: 1320px;
    height: 100%;
  }
}

//additional helpers
.g-5 {
  gap: 8rem;
}

// for loading page
.loading-content {
  line-height: 3.75rem;
}
.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .line {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.line-loading {
  width: 100%;
  position: relative;
}
.break-word {
  overflow-wrap: break-word;
}

//navigation
.navbar-collapse {
  flex-grow: 0;
}
.nav-link {
  color: $white;
}

//headline
.wrapper .headline {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

//skew scroll
.app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

//transistion

//works
.project-container {
  position: relative;
}
.klase-tumbnail {
  background-image: url(./assets/klase_tumbnail.png);
  background-position: top 0% left 50%;
  background-size: 100%;
}
.works-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.encryptee-tumbnail {
  background-image: url(./assets/encryptee_tumbnail.png);
  background-position: top 0% left 50%;
  background-size: 100%;
}
.anydo-tumbnail {
  background-image: url(./assets/anydo_tumbnail.png);
  background-position: top 0% left 50%;
  background-size: 100%;
}
